// colors
$col-main: #b12923;
$col-secondary: #3a063c;
$col-headers: #2E2E2E;
$col-grey: #5c5c5c;
$col-lgrey: #C5C5C5;

// tag colors
$col-linux: rgb(125, 25, 255);
$col-html: rgb(255, 100, 52);
$col-raspberry-pi: rgb(255, 11, 125);
$col-css: rgb(22, 142, 255);

// margins
$m-xs: 4px;
$m-s: 6px;
$m-m: 10px;
$m-l: 16px;
$m-xl: 32px;
$m-xxl: 48px;

// paddings
$p-xs: 4px;
$p-s: 6px;
$p-m: 10px;
$p-l: 16px;
$p-xl: 32px;
$p-xxl: 48px;

// widths
$w-gutter: 1320px;
$w-item4: $w-gutter/4;

// misc
$transition: .2s;