@import '../../styles/styles.scss';

.section {
    &--header {
        width: 100%;
        position: relative;
        background: linear-gradient(#3A063C, #B12923);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 10% 100%, 0 90%);
    }

    &__heading {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 700px;
        padding: $p-xxl;
        margin: 0 auto;
    }
}

.h1 {
    font-size: 58px;
    color: white;

    @media all and (max-width: $br-m) {
        font-size: 42px;
    }

    @media all and (max-width: $br-s) {
        font-size: 32px;
    }

    
}

.button {
    margin-top: $m-xl;
    font-size: 32px;
    width: fit-content;
    padding: $p-m $p-xl;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: $transition;

    &:hover {
        opacity: .8;
    }

    &--white {
        background-color: white;
        color: $col-main;
    }

    @media all and (max-width: $br-s) {
        font-size: 16px;
    }
}